<div class="text-center my-4"><h4>Login Panel</h4></div>
<br><br>
<div class="container">
  <div class="w-50 mx-auto p-5 border" style="border-radius: 10px;">
    <div class="m-auto">
      <ng-container *ngIf="isSignUp; else loginView">
        <form [formGroup]="signUpForm">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              formControlName="userName"
              placeholder="name123"
            />
            <label for="floatingInput">User Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              formControlName="email"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              formControlName="password"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>

          <button class="btn btn-primary" (click)="signUpUser()">Sign Up</button>
          <span class="text-muted " style="cursor: pointer;float: right;" (click)="changeView(0)">Login ?</span>
        </form>
      </ng-container>
      <ng-template #loginView>
        <form [formGroup]="loginForm">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              formControlName="userNameorEmail"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Username or Email</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>

          <button class="btn btn-primary" (click)="loginUser()">Login</button>
        </form>

        <span class="text-muted" style="cursor: pointer;float: right;" (click)="changeView(1)">Register ?</span>
      </ng-template>
    </div>
  </div>
</div>
